#tags {
    font-family: 'Brush Script MT', cursive;
    color:deepskyblue;
}

.header_text {
    font-family: 'Lucida Bright';
    font-size: 60px;
    color: ghostwhite;
}



p {
    font-size: 20px;
}

#carousel_container {
    width: 700px;
}



#intro_header {
    background: white url(https://cdn.wallpapersafari.com/40/29/eUiwIg.png) fixed;
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}

header {
    background: white url(https://www.mewallpaper.com/thumbnail/games/8356-coding-background-free-photo-wallpaper.jpg) repeat fixed;
    border: 1px solid black;
    width: 100%;
    height: 300px;
}

#button {
    width: auto;
}

#nav {
    margin: 0px;
 
}

#intro {
    margin: 50px;
}

#about_me {
    margin: 50px;
}

#headshot {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 600px;
}

#front_end_logo {
    width: 600px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
}

#untitled_logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 600px;
    width: 500px;
    background-color: black;
}

#all_logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 600px;
    width: 500px;
}

#eatz_logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 600px;
    width: 350px;
}

#background_scroll_space {
    background: white url(https://www.mewallpaper.com/thumbnail/games/8356-coding-background-free-photo-wallpaper.jpg) fixed;
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

#background_scroll_space_landing_page {
    background: white url(https://cdn.wallpapersafari.com/40/29/eUiwIg.png) fixed;
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

footer {
    background-color: black;
    height: 100px;
    color: white;
}

#welcome_header {
    color: white;
    background-color: gray;
}

@media (max-width: 1000px) {
    a, #nav_header {
        font-size: 35px;
    }

    #intro_header {
        height: 50vh;
    }

    header {
        height: 40vh;
    }

    #about_me {
        margin:0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #eatz_logo {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 2px;
        height: 500px;
        width: 250px;
    }

    #nav {
        position: fixed;
        z-index:1;
    }

    #tags_div {
        margin-top: 5vh;
    }

}

