{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">Case Writeups</h1>
    <p class="text-center">Computer Information Systems Class 410(Capstone)</p>
    <h3>Goal:</h3><p>To complete an analysis on a buisness case and give recomendatations</p>
    <p>During our capstone class I completed many projects, one of them being case writeups that are completed throughout the course of the semester. During these we analyize the buisness finding the orginization's structure, generic strategy, competitve analysis, identify stakeholders, and finally give recomendations that I think these buisnesses should have undergone to help avoid the senerio they ended up in. </p>
</div>
<div class="row justify-content-center" style="margin-top:30px;">
   <h3>Burlington Northern</h3>
   <p>A case report that analyzes whether or not a railroad company should implement a new control system. This shows analytical skills when considering whether or not to implement new IT systems.</p>
   <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='BNCase.pdf') }}" target="_blank">View Case</a></button> 
</div>
<hr />
<div class="row justify-content-center" style="margin-top:30px;">
    <h3>Appex</h3>
    <p>This case report highlights organizational structure and the importance of information flows.</p>
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='AppexCase.pdf') }}" target="_blank">View Case</a></button>
</div>
<hr />
<div class="row justify-content-center" style="margin-top:30px;">
    <h3>IRS</h3>
    <p>In this case the IRS implmented a new system that proved to be very efficient, but ended up impacting employee moral and turnover rate. This shows diffrent management styles and ideas and how to implement them.</p>
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='IRSCase.pdf') }}" target="_blank">View Case</a></button>
</div>

    {% endblock %}