{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">Case Writeups</h1>
    <p class="text-center">Computer Information Systems Class 410(Capstone)</p>
    <h3>Goal:</h3><p>To complete an analysis on a buisness case and give recomendatations</p>
    <p>During our capstone class I completed many projects, one of them being case writeups that are completed throughout the course of the semester. During these we analyize the buisness finding the orginization's structure, generic strategy, competitve analysis, identify stakeholders, and finally give recomendations that I think these buisnesses should have undergone to help avoid the senerio they ended up in. </p>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <h3>To View Cases</h3><button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='BNCase.pdf') }}" target="_blank">Burlington Northern</a></button>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='AppexCase.pdf') }}" target="_blank">Appex</a></button>
</div>
    {% endblock %}