{% extends "base.html" %}
    {% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center">Email / LinkedIN</h1>
        <p class="text-center">Email is prefered for direct communication</p>
        <h1>LinkedIN</h1><br />
        <a href="https://linkedin.com/in/alex-weber-9973b7173" target="_blank">View Profile</a>
        <hr />
        <h1>Email</h1><br />
        <a href="mailto:alexweber12899@gmail.com">alexweber12899@gmail.com</a>
    </div>
</div>
    {% endblock %}