{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">Development Project</h1>
    <p class="text-center">Computer Information Systems Class 420</p>
    <h3>Goal:</h3><p>To develop an application for the Cardinal Cupboard at UofL</p>
    <p>As a team we were given a project to build an application for the Cardinal Cupboard at the University of Louisville. We took the specifications created by another team in CIS 320 and used this information to build out our project. We used Wordpress, Plugins provided, and CSS to meet the needs of our customer.</p>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <h3>To View Project</h3><button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="https://louisvillecardinalcupboard.wpcomstaging.com" target="_blank">Cardinal Cupboard</a></button>
</div>
    {% endblock %}