{% extends "base.html" %}
        {% block content %}
<div class="row">
    <div class="col justify-content-center">
        <img id="front_end_logo" src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_limit,h_1200,q_75,w_1200/https://assets.simpleviewinc.com/simpleview/image/upload/crm/lexington/OldBridgeGolf0-7290eb555056a36_7290ecc9-5056-a36a-08df7e732b807010.jpg" />
    </div>
    <div class="col">
        <h1 class="text-center">Eatz</h1>
        <p class="text-center">*Still in development could contain bugs</p>
        <p>Eatz is an application I built for my girlfriend to be able to finally decide what to eat. It includes a simple form that collects data and will output the resturants nearby that fit the qualifications specified. The data is pulled in through the Google Developers API and uses real time data to provide accurate results. My favorite feature is the "Ive asked Alex what he wants" which will choose a single resturant based on what I would like, making the choice easy!</p><br />
        <h3>Tech Stack:</h3>
        <p>HTML, CSS, Javascript, Python, Heroku Pipelines, Google Developer APIs</p><br />
        <div class="text-center">
            <h3>See Code:</h3>
            <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="https://github.com/Aweber32/JazEats" target="_blank">Click Here</a></button>
        </div>
    </div>
</div>

        {% endblock %}