<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Alex's Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</head>
<header id="intro_header">
    <div class="container-fluid" id="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a id="nav_header" class="navbar-brand" href="#">Alex's Portfolio |</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Work Experience
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('untitled') }}">Untitled</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('humana') }}">Humana</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Techinal Writing
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('sys_analysis_des') }}">System Analysis and Design</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('visio_databaseD') }}">Visio / Database Design</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('case_writeups') }}">Case Writeups</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('strategic_assesment') }}">Strategic Assesment</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Coding Languages / Software
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('front_end') }}">Front-End</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('back_end') }}">Back-End</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('dev_project') }}">Development Project</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('powerBI') }}">Power-BI</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Personal Projects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('old_bridge') }}">Old Bridge Golf Course</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('weber_title') }}">Weber Title</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('smart_mirror') }}">Smart Mirror</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('eatz') }}">Eatz</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('portfolio') }}">This Portfolio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contact
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for('contact') }}">Email / LinkedIN / Resume</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="tags_div">
        <p id="tags">&lt;html&gt;</p>
        <p id="tags" style="text-indent: 45px;">&lt;body&gt;</p>
        <p id="tags" style="text-indent: 90px;">&lt;h1&gt;</p>
        <h1 class="header_text" id="header_text1" style="text-indent:135px;"></h1>
        <h1 class="header_text" id="header_text2" style="text-indent:135px;"></h1>
        <h1 class="header_text" id="header_text3" style="text-indent:135px;"></h1>
        <p id="tags" style="text-indent: 90px;">&lt;/h1&gt;</p>
        <p id="tags" style="text-indent:90px;">&lt;p&gt;</p>
        <p style="text-indent:135px; color:darkgrey; font-size: 35px;"><i>Leadership / Creativity / Motivated</i></p>
        <p id="tags" style="text-indent:90px;">&lt;/p&gt;</p>
        <p id="tags" style="text-indent: 45px;">&lt;/body&gt;</p>
        <p id="tags">&lt;/html&gt;</p>
    </div>
</header>
<body>
    <div class="container">
        <div class="row align-items-center" id="about_me">
            <div class="col">
                <img id="headshot" src="{{ url_for('static', filename='Headshot.JPG') }}" alt="Headshot" />
            </div>
            <div class="col">
                <h1 class="text-center">About Me</h1>
                <p class="text-center">Orginally From Robinson IL, I came to the University of Louisville to experience a new place and what it had to offer! During my 4 years of undergrad I was able to get involved with numerous clubs, orginizations, and philanthropic opportunities!</p>
                <h3>Major:</h3><p>Computer Information Systems Concentration in Buisness Process Management</p>
                <h3>Minor:</h3><p>Finance</p>
            </div>
        </div>
    </div>
    <div id="background_scroll_space_landing_page"></div>
    <div class="container py-3" id="carousel_container">
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" id="carousel_item">
                        <img src="{{ url_for('static', filename= 'Meandamber.jpg') }}" class="d-block w-100" alt="raisered">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>RaiseRED</h5>
                            <p>In 2020 I served as a team leader for raiseRED a orginiztion at UofL that raises money for the Norton Children's Cancer Institute and the University of Louisville School of Medicine's Department of Pediatrics' Division of Hematology and Oncology. In the past 7 years we have raised over 3 MILLION DOLLARS benefitting research and patient needs.</p>
                        </div>
                    </div>
                    <div class="carousel-item" id="carousel_item">
                        <img src="{{ url_for('static', filename= 'homecoming.jpg') }}" class="d-block w-100" alt="homecoming">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Homecoming</h5>
                            <p>Me and then president Dr. Bendapudi at the homecoming game football game in the fall of 2021 where I was voted to the Homecoming Court. </p>
                        </div>
                    </div>
                    <div class="carousel-item" id="carousel_item">
                        <img src="{{ url_for('static', filename= 'sos.jpg') }}" class="d-block w-100" alt="sos">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Student Orientation Staff</h5>
                            <p>In the fall of 2019 I served as a member of the Student Orientation Staff. In this role I mentored incoming students and helped them navagate through the 2-day orientation and into the school year.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</body>
<footer class="text-center">
    <p>Copyright of Alex Weber</p>
</footer>
</html>