 {% extends "base.html" %}
        {% block content %}
<div class="col">
    <img id="all_logo" src="{{ url_for('static', filename='humana_logo.png') }}" alt="Humana Logo" />
</div>
<div class="col">
    <h1 class="text-center">Humana</h1>
    <p class="text-center">May 2021 - Present</p>
    <h3>Role:</h3><p>Software Engineering Intern</p>
    <p>Developed a cloud native application to track security vulnerabilities and display them in a historical database. I was able to create a project proposal, lead meetings as a scrum master, and worked extensively in full stack development. Recently, I have had the opportunity to fix Salesforce security vulnerabilities and commit my changes to the production app</p>
    <h3>Tech Stack:</h3><p>Azure DevOps, Azure, Python(Django), HTML, JavaScript, CSS</p>
    <h3>Future Role:</h3><p>Software Engineer</p>
    <p>I will begin my role as a Full time Software Enginner this June!</p>
</div>
<div class="row" style="margin-top:30px;">
    <h3>Humana's Mission Statement</h3><p>Humana is committed to improving the health and well-being of our members, our associates, the communities we serve and our planet. We are dedicated to building an inclusive organization of diverse people whose experience and passion center on putting the customer first.</p>
    <h3>Humana's Headquaters</h3><p>500 W. Main St. <br /> Louisville, KY 40202</p>
</div>
        {% endblock %}