 {% extends "base.html" %}
        {% block content %}
<div class="row">
    <div class="col justify-content-center">
        <img id="front_end_logo" src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_limit,h_1200,q_75,w_1200/https://assets.simpleviewinc.com/simpleview/image/upload/crm/lexington/OldBridgeGolf0-7290eb555056a36_7290ecc9-5056-a36a-08df7e732b807010.jpg" />
    </div>
    <div class="col">
        <h1 class="text-center">Old Bridge Golf Course</h1><br />
        <p>Located in Danville, Ky Old Bridge Golf Course hired me in the spring of 2021 to upgrade their current website. The old website was a basic HTML page with little functionalties, the new website has a modern look and seperate pages outlining everything Old Bridge has to offer. </p><br />
        <h3>Tech Stack:</h3>
        <p>Custom HTML, CSS, Javascript, Shopify</p><br />
        <div class="text-center">
            <h3>See Website:</h3>
            <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="https://oldbridgegolf.com/" target="_blank">Click Here</a></button>
        </div>
    </div>
</div>

        {% endblock %}