{% extends "base.html" %}
        {% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center">Alex's Portfolio</h1>
        <p class="text-center">*Still in development could contain bugs</p>
        <p>The portfolio you are currently looking at is completly custom and built from scratch. Orginally started on Wordpress I decided to build my own Portfolio using bootstrap and custom code to practice my skills. I plan to continue to realese updates displaying my talents and demonstrate every time I learn something new and cool! </p><br />
        <h3>Tech Stack:</h3>
        <p>HTML, CSS, Javascript, Python, Heroku Pipelines, Bootstrap</p><br />
        <div class="text-center">
            <h3>See Code:</h3>
            <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="https://github.com/Aweber32/Alex-s-Portfolio" target="_blank">Click Here</a></button>
        </div>
    </div>
</div>

        {% endblock %}