{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">Strategic Assesment</h1>
    <p class="text-center">Computer Information Systems Class 410</p>
    <h3>Goal:</h3><p>To conduct and create a IT analysis report for a company of our choosing</p>
    <p>I conducted my report on Illinois Exploration and Production, a oil production company out of Robinson, IL. In the report I assesed the current status of the company from an IT perspective then gave suggestions tailored to the buisness that I believe would provide real value to the company. I utlized theorys and models learned throughout the semester to guide me in my report.</p>
    <h3>Methodologies:</h3><p>IT Theories, Analysis</p>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <h3>To View Document</h3><button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='ITStrategicAssessmentReport.pdf') }}" target="_blank">Click Here</a></button>
</div>
    {% endblock %}