{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">System Analysis and Design</h1>
    <p class="text-center">Computer Information Systems Class 320</p>
    <h3>Goal:</h3><p>To create a complete System Design for a client using UML methodologies</p>
    <p>Our report, completed as a team, includes use cases, flows, entity relationship diagrams, prototypes, security concerns, calculating the net present value, and much more. Our case write up is for the mentee / mentor program for the University of Louisville college of buisness and includes everything needed to build the application.</p>
    <h3>Software and Methodologies:</h3><p>Agile, UML, Visio, Figma, Excel</p>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <h3>To View Document</h3><button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='ElaborationPhase.pdf') }}" target="_blank">Click Here</a></button>
</div>
    {% endblock %}