{% extends "base.html" %}
        {% block content %}

<div class="col">
    <img id="untitled_logo" src="{{ url_for('static', filename='untitled_logo.png') }}" alt="Untitled Logo" />
</div>
<div class="col">
    <h1 class="text-center">Untitled</h1>
    <p class="text-center">June 2020 - August 2020</p>
    <h3>Role:</h3><p>Data Analytics Intern</p>
    <p>Untitled is a management consultant firm specializing in data analytics, data architecture, media marketing, and web development. I work in a very versatile role helping the CTO and others on time sensitive projects.</p>
    <h3>Tech Stack:</h3><p>Python, C#, Power BI, Sisense</p>
</div>
<div class="row" style="margin-top:30px;">
    <h3>Untitled's Mission Statement</h3><p>Untitled helps companies leverage the data they have across their business verticals, increasing revenue and efficiency while reducing costs. Our proprietary methods are thoughtful and purposeful, providing your company with a competitive edge.</p>
    <h3>Untitled's Headquaters</h3><p>1201 Story Ave, Suite 300 <br />Louisville, Kentucky 40206</p>
</div>

    {% endblock %}
