{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">Visio / Database Design</h1>
    <p class="text-center">Computer Information Systems Class 310</p>
    <h3>Goal:</h3><p>Designing and modeling databases using entity relationship diagrams following UML principals</p>
    <p>Thoughout the course of this class I learned how to model databases in Visio. I made sure all of my databases were in normal form and in standard with UML practice</p>
    <h3>Software and Methodologies:</h3><p>UML, Visio</p>
</div>
<div class="row justify-content-center" style="margin-top:30px; margin-bottom:30px">
    <h3>Drawing ERDs and 3NF</h3>
    <p>In this document I demonstrate normalizing a database to 3NF and drawing entity relationship diagrams</p>
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='DrawingERDs_and_3NF.pdf') }}" target="_blank">View Document</a></button>
</div>
<hr />
<div class="row justify-content-center" style="margin-top:30px;">
    <h3>Visio</h3>
    <p>In this document I use Visio a database planning tool to design a potential database using UML methodologies</p>
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='visio_ex.pdf') }}" target="_blank">View Document</a></button>
</div>
    {% endblock %}
