{% extends "base.html" %}
    {% block content %}
<div class="col">
    <h1 class="text-center">Visio / Database Design</h1>
    <p class="text-center">Computer Information Systems Class 310</p>
    <p><h3>Goal:</h3>Designing and modeling databases using entity relationship diagrams following UML principals</p>
    <p>Thoughout the course of this class I learned how to model databases in Visio. I made sure all of my databases were in normal form and in standard with UML practice</p>
    <p><h3>Software and Methodologies:</h3>UML, Visio</p>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <h3>To View Documents</h3>
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='DrawingERDs_and_3NF.pdf') }}" target="_blank">Drawing ERDs and 3NF</a></button>
</div>
<div class="row justify-content-center text-center" style="margin-top:30px;">
    <button id="button" type="button" class="btn btn-secondary btn-lg"><a style="color:white;" href="{{ url_for('static', filename='visio_ex.pdf') }}" target="_blank">Visio</a></button>
</div>
    {% endblock %}
